<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new/create}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{userName}" id="name"></input>
    <br>
    <label for="surname">Введите Фамилию: </label>
    <input type="text" th:field="*{userName}" id="surname"></input>
    <br>
    <label for="email">Введите E-mail: </label>
    <input type="text" th:field="*{userEmail}" id="email"></input>
    <br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"></input>
    <br>
    <label for="age">Новый пароль: </label>
    <input type="text" th:field="*{password}" id="password"></input>
    <br>
    <label for="age">Назначить роль: </label>
    <input type="text" th:field="*{roles}" id="roles"></input>
    <br>
    <br>
    <button type="submit">Создать пользователя</button>
</form>
<br>
<br>
<form th:method="GET" th:action="@{/admin/users}">
    <button type="submit">Назад</button>
</form>
<br>
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>