<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<label for="id">ID: </label>
<p id="id" th:text="${user.getId()}">value</p>
<label for="name">Name: </label>
<p id="name" th:text="${user.getUsername()}">value</p>
<label for="surname">Surname: </label>
<p id="surname" th:text="${user.getUserSurname()}">value</p>
<label for="email">E-mail: </label>
<p id="email" th:text="${user.getUserEmail()}">value</p>
<label for="password">Password: </label>
<p id="password" th:text="${user.getPassword()}">value</p>
<label for="role">Roll: </label>
<ul th:each="role : ${userRoles}">
    <li id="role" th:text="${role.roleName}"></li>
</ul>

<a th:href="@{/admin/edit(id=${user.getId()})}">Изменить</a>

<br>
<br>

<form th:method="POST" th:action="@{/admin/delete}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <button type="submit">Удалить</button>
</form>
<br>
<br>
<form th:method="GET" th:action="@{/admin/users}">
    <button type="submit">Назад</button>
</form>
<br>
<br>
<form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>
</body>
</html>