<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<div style="position: absolute;background-color:#f1dba5; width: 100%; height: 80px;">
    <div style="height: 80px; width: 80%; position: absolute;">
        <ul>
            <a href="/admin">
                <li style="font-weight: bold">Админка</li>
            </a>

            <a href="/user">
                <li style="line-height: 200%; font-weight: bold">Профиль</li>
            </a>
        </ul>
    </div>
    <div style="position:relative; float:right; width: 20%; margin: 20px 20px 0 0">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

</body>
</html>