<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userSurname}"></td>
        <td th:text="${user.userEmail}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{/admin/user(id=${user.getId()})}">Подробнее</a></td>
    </tr>
</table>
<br>
<br>
<form th:action="@{/admin/new}" method="get">
    <!--<a th:href="@{/admin/new}">Создать пользователя!</a>-->
    <button type="submit">Создать нового пользователя</button>
</form>
<br>
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>